@media screen and (max-width: 750px) {
    .star {
        /* Loại bỏ animation tail-fade trên mobile */
        /* animation: fall var(--fall-duration) var(--fall-delay) linear infinite; */
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

    overflow: hidden;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
}

.star {
    --star-color: rgb(187, 187, 255);
    /* Màu của ngôi sao là xanh lam */
    --star-tail-length: 7em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);

    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    /* border: 0.3px solid rgb(160, 160, 160); */
    /* Viền màu trắng */
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}


.star:nth-child(1) {
    --star-tail-length: 7em;
    --top-offset: 80vh;
    --fall-duration: 6s;
    --fall-delay: 0s;
}

.star:nth-child(2) {
    --star-tail-length: 6.5em;
    --top-offset: 60vh;
    --fall-duration: 7s;
    --fall-delay: 2s;
}

.star:nth-child(3) {
    --star-tail-length: 5em;
    --top-offset: 80vh;
    --fall-duration: 6s;
    --fall-delay: 0s;
}

.star:nth-child(4) {
    --star-tail-length: 6.5em;
    --top-offset: 60vh;
    --fall-duration: 7s;
    --fall-delay: 2s;
}

.star:nth-child(5) {
    --star-tail-length: 5em;
    --top-offset: 80vh;
    --fall-duration: 6s;
    --fall-delay: 0s;
}

.star:nth-child(6) {
    --star-tail-length: 6.5em;
    --top-offset: 60vh;
    --fall-duration: 7s;
    --fall-delay: 2s;
}

.star:nth-child(7) {
    --star-tail-length: 3em;
    --top-offset: 90vh;
    --fall-duration: 6s;
    --fall-delay: 0s;
}

.star:nth-child(8) {
    --star-tail-length: 4.6em;
    --top-offset: 20vh;
    --fall-duration: 7s;
    --fall-delay: 2s;
}

.star:nth-child(9) {
    --star-tail-length: 6.5em;
    --top-offset: 100vh;
    --fall-duration: 7s;
    --fall-delay: 2s;
}

.star:nth-child(10) {
    --star-tail-length: 7em;
    --top-offset: 35vh;
    --fall-duration: 7s;
    --fall-delay: 4s;
}


.star:nth-child(11) {
    --star-tail-length: 5em;
    --top-offset: 50vh;
    --fall-duration: 5.3s;
    --fall-delay: 1s;
}

.star:nth-child(12) {
    --star-tail-length: 6.5em;
    --top-offset: 30vh;
    --fall-duration: 7s;
    --fall-delay: 3s;
}

.star:nth-child(13) {
    --star-tail-length: 3em;
    --top-offset: 20vh;
    --fall-duration: 4s;
    --fall-delay: 3.4s;
}

.star:nth-child(14) {
    --star-tail-length: 2em;
    --top-offset: 15vh;
    --fall-duration: 7s;
    --fall-delay: 5s;
}

.star:nth-child(15) {
    --star-tail-length: 4em;
    --top-offset: 10vh;
    --fall-duration: 6s;
    --fall-delay: 6s;
}

.star:nth-child(16) {
    --star-tail-length: 5em;
    --top-offset: 5vh;
    --fall-duration: 7s;
    --fall-delay: 5s;
}

.star:nth-child(17) {
    --star-tail-length: 4em;
    --top-offset: 90vh;
    --fall-duration: 3s;
    --fall-delay: 3s;
}

.star:nth-child(18) {
    --star-tail-length: 5em;
    --top-offset: 85vh;
    --fall-duration: 7s;
    --fall-delay: 5s;
}

.star:nth-child(19) {
    --star-tail-length: 10em;
    --top-offset: 98vh;
    --fall-duration: 7s;
    --fall-delay: 2s;
}

.star:nth-child(20) {
    --star-tail-length: 5em;
    --top-offset: 87vh;
    --fall-duration: 3.4s;
    --fall-delay: 5s;
}


.star:nth-child(26) {
    --star-tail-length: 1500px;
    --top-offset: 80vh;
    --fall-duration: 7s;
    --fall-delay: 3s
}

.star:nth-child(29) {
    --star-tail-length: 2000px;
    --top-offset: 70vh;
    --fall-duration: 8s;
    --fall-delay: 5s
}

/* Tương tự cho các ngôi sao khác, sử dụng từng nth-child() để thay thế vòng lặp @for */

.star::before,
.star::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}

.star::before {
    transform: rotate(45deg);
}

.star::after {
    transform: rotate(-45deg);
}


@keyframes fall {
    to {
        transform: translate3d(-30em, 0, 0);
    }
}

@keyframes tail-fade {

    0%,
    50% {
        width: var(--star-tail-length);
        opacity: 1;
    }

    70%,
    80% {
        width: 0;
        opacity: 0.4;
    }

    100% {
        width: 0;
        opacity: 0;
    }
}

@keyframes blink {
    50% {
        opacity: 0.6;
    }
}


/* congratulation for you  */
.wish-text-content {
    display: flex;
    flex-direction: column;
    transition: opacity 2s ease;
}

.hidden-wish-text-content {
    opacity: 0;
}

.congratulation-for-you {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 20px;
    border-radius: 5px;

    font-size: 18px;
    color: rgb(15, 223, 223);
    background-color: #135992;
}

.letter-content {
    text-align: justify;
    flex-wrap: wrap;
    line-height: 1.8;
}


/* wish-area  */

.wish-area {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

label {
    font-size: 18px;
    color: #5b5b5b;
    padding-bottom: 10px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
}

input[type="text"] {
    width: 40%;
    padding: 12px 40px 12px 16px;
    border: 2px solid #b0e0e6;
    border-radius: 50px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #87cefa;
    outline: none;
}

/* end wish-area  */

/* end congratulation for you  */

/* valid message  */
.valid-message {
    display: none;
    padding: 0px 5px;
    font-weight: 600;
    color: #6bf0ff;
}


/* end valid message  */


/* buttons  */
.buttons {
    position: fixed;
    bottom: 20px;
    left: 10px;
    padding-right: 50px;
}

.btn {
    display: flex;
    justify-self: center;
    align-items: center;

    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #7f43c077;
    cursor: pointer;
    transition: all 2s ease;
}

.btn:hover {
    background: transparent;
    transition: all 2s ease;
}

.wish-btn {
    margin-top: 20px;
    background: linear-gradient(90deg, #16163b 0%, #40375a 20%, #3d4c68 40%, #1e90ff 60%, #1e80ff 80%, #668099 100%);
    transition: all 2s ease;
}

.wish-btn:hover {
    background: rgb(0, 19, 104);
    transition: all 4s ease;
}

.special-text {
    display: inline-block;
    padding: 0px 5px;
    font-weight: 600;
    color: #6bf0ff;
}

.special-symbol {
    font-size: 30px;
    color: #a1edf1;
}


/* end buttons  */


/* // responsive  */
@media(max-width: 414px) {
    .congratulation-for-you {
        font-size: 13px;
    }

    label {
        font-size: 13px;
    }

    input[type="text"] {
        width: 72%;
        font-size: 13px;
    }

    .buttons .btn {
        font-size: 13px;
        padding: 0px 10px;
    }

    .special-text {
        font-size: 13px;
    }
}

/* //end  responsive  */